/* GLOBAL RETRO THEME */

body {
  margin: 0;
  font-family: "Courier New", monospace;
  background: #000;
  color: #00ff9f;
}

/* CRT scanline effect */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,255,159,0.05),
    rgba(0,255,159,0.05) 1px,
    transparent 1px,
    transparent 3px
  );
}

/* Container */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: rgba(0,0,0,0.9);
  border: 1px solid #00ff9f;
  box-shadow: 0 0 20px #00ff9f33;
  border-radius: 10px;
}

/* Headings */
h1, h2, h3 {
  text-align: center;
  text-shadow: 0 0 5px #00ff9f;
}

/* Inputs */
select, textarea {
  background: #020617;
  color: #00ff9f;
  border: 1px solid #00ff9f;
  font-family: "Courier New", monospace;
}

/* Buttons */
button {
  background: #00ff9f;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #00cc7a;
}

/* Output */
pre {
  background: #020617;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #00ff9f;
  color: #00ff9f;
  box-shadow: inset 0 0 10px #00ff9f22;
}