<div class="container">
  <h1> Repl-us Code Runner</h1>

  <label>Language:</label>
  <select [(ngModel)]="language" (change)="onLanguageChange()">
    <option value="python">Python</option>
    <option value="java">Java</option>
    <option value="cpp">C++</option>
  </select>

  <ngx-monaco-editor
    [(ngModel)]="code"
    [options]="editorOptions"
    style="height: 400px; margin-top: 10px;">
  </ngx-monaco-editor>

  <button (click)="runCode()" [disabled]="isLoading">
    {{ isLoading ? 'Running...' : 'Run Code' }}
  </button>

  <p *ngIf="status">
    <span *ngIf="status === 'success'">✅ Success</span>
    <span *ngIf="status === 'compile_error'">🛑 Compile Error</span>
    <span *ngIf="status === 'runtime_error'">⚠️ Runtime Error</span>
    <span *ngIf="status === 'timeout'">⏳ Timeout</span>
    | ⏱ {{ executionTime }}
    | ⏳ Total Time: {{ totalTime }}
  </p>

 <h3>Output:</h3>

<pre class="output-box">{{ output }}</pre>

<button class="copy-btn" (click)="copyOutput()">
  📋 Copy Output
</button>
</div>